body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f2f2f2;
  color: #222;
}

#page-wrapper {
  width: 80%;
  max-width: 1280px;
  margin: 0 auto;
}

.intro {
  height: 550px;
}

.intro header {
  background-color: #222;
  color: #f2f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}


.intro h1 {
  margin-left: 1em;
}


.main p {
  line-height: 1.5;
  text-indent: 1em;
}


.sidebar {
  text-align: center;
  margin-top: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 1em;
}

.sidebar a {
  text-decoration: none;
  color: #222;
}


footer {
  background-color: #222;
  color: #f2f2f2;
  margin-top: 4%;
  padding: 20px;
  text-align: center;
}


footer a {
  display: inline-block;
  border: 2px solid #f2f2f2;
  padding: 0.5em;
  margin: 0.3em;
  color: #f2f2f2;
  text-decoration: none;
}

