

body {
  width: 960px;             
  margin: 0 auto;            
  font-family: Arial, Helvetica, sans-serif; 
  background-color: #F1F8E9;
  color: #1B5E20;
}



p {
  text-indent: 1em;          
}


h1, h2, h3 {
  text-align: center;        
  color: #558B2F;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}



.summary {
  text-align: center;        
  margin: 20px 0;
}



.main p {
  line-height: 1.5;          
}


abbr {
  font-variant: small-caps;
}
