
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

main {
  padding: 20px;
}

a:link {
  color: #1e90ff;
  font-weight: bold;
  text-decoration: none;
}

a:visited {
  color: #551a8b;
  font-weight: normal;
}

a:hover {
  color: #63b3ff;
  text-decoration: underline;
}

a:active {
  color: #0b5ed7;
}


main p:first-of-type::first-letter {
  font-size: 3em;
  font-family: Georgia, serif;
  float: left;
  line-height: 1;
  margin-right: 8px;
}


.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-top: 1px solid #ccc;
  padding: 12px;
}

.menu li:last-child {
  border-bottom: 1px solid #ccc;
}
